* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Segoe UI, sans-serif;
}

body {
    background: linear-gradient(135deg, #6366f1, #22c55e);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


.app {
    background: white;
    padding: 100px 50px;
    border-radius: 20px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, .2);
    text-align: center;
    width: 440px;
}

h1 {
    margin-bottom: 50px;
    color: #111827;
}


.screen {
    display: none;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.show {
    display: flex;
}


.scorebar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: #f3f4f6;
    padding: 10px 20px;
    border-radius: 12px;
    font-weight: 600;
}

.scorebar span {
    margin-left: 6px;
}


.board {
    width: 260px;
    height: 260px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 12px;
}


.cell {
    width: 80px;
    height: 80px;
    background: #eef2ff;
    border-radius: 14px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 38px;
    font-weight: 700;
    cursor: pointer;
    transition: .15s;
}

.cell:hover {
    background: #e0e7ff;
    transform: translateY(-2px);
}

.cell.x {
    color: #6366f1;
}

.cell.o {
    color: #22c55e;
}


button {
    border: none;
    background: #111827;
    color: white;
    padding: 20px 18px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 600;
    transition: .15s;
}

button:hover {
    opacity: .85;
}

#result {
    color: #111827;
}